name: Build APK

on:
  workflow_dispatch:
jobs:
  build-release:
    # Run on Pushes OR Manual Triggers (workflow_dispatch)
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    name: Build signed release APK
    runs-on: ubuntu-latest

    # These secrets are injected into the environment for Gradle to read
    env:
      RELEASE_STORE_PASSWORD: ${{ secrets.RELEASE_KEYSTORE_PASSWORD }}
      RELEASE_KEY_ALIAS: ${{ secrets.RELEASE_KEYSTORE_ALIAS }}
      RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
      KEYSTORE_BASE_64: ${{ secrets.KEYSTORE_BASE_64 }}

    permissions:
      contents: read
      packages: write
      checks: write
      pull-requests: write
      statuses: write
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: '8.5'

      - name: Decode Keystore
        run: |
          # Decode the base64 secret into a file
          echo "$KEYSTORE_BASE_64" | base64 --decode > release.keystore
          
          # Export the absolute path to the env var KEYSTORE_PATH
          # This matches the variable name used in your app/build.gradle.kts
          echo "KEYSTORE_PATH=$(pwd)/release.keystore" >> $GITHUB_ENV

      - name: Build release APK
        run: ./gradlew assembleRelease --stacktrace

      - name: Upload release APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release.apk
          path: ./app/build/outputs/apk/release/app-release.apk