name: Build Release APK

on:
  workflow_dispatch:
jobs:
  build-release:
    runs-on: ubuntu-latest

    env:
      RELEASE_STORE_PASSWORD: ${{ secrets.RELEASE_KEYSTORE_PASSWORD }}
      RELEASE_KEY_ALIAS: ${{ secrets.RELEASE_KEYSTORE_ALIAS }}
      RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
      KEYSTORE_BASE_64: ${{ secrets.KEYSTORE_BASE_64 }}

    permissions:
      contents: read
      packages: write
      checks: write
      pull-requests: write
      statuses: write
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"
          
      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Set up signing key
        run: |
          base64 -d <<< $KEYSTORE_BASE_64 > release.keystore
          echo "RELEASE_STORE_FILE=$(realpath release.keystore)" >> $GITHUB_ENV

      - name: Build release APK
        run: ./gradlew assembleRelease

      - name: Upload release APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release.apk
          path: ./app/build/outputs/apk/release/app-release.apk
